.boton {
    color: var(----color-gray-light);
    text-align: center;
    display: flex;

    flex-direction: column;
    justify-content: center;
    border: none;
    border-radius: 0.5rem;
    padding: 0.65rem 1.25rem;
    box-sizing: content-box;
}

.frontend{
    background-color: var(--frontend);
}

.backend{
    background-color: var(--backend);
}
.mobile{
    background-color: var(--mobile);
}
.ux{
    background-color: var(--ux);
}
